force-app/main/default/flows/creacion_de_oportunidades.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>yes_create</name>
        <label>yes create</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>crear_pedido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no hay tanque</defaultConnectorLabel>
        <rules>
            <name>si_hay_tanque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comparacion_Tanques_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>crear_oportunidad</targetReference>
            </connector>
            <label>si hay tanque</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>creacion de oportunidades {!$Flow.CurrentDateTime}</interviewLabel>
    <label>creacion de oportunidades</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crear_pedido</name>
        <label>crear pedido</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Record.ConvertedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_tanque__c</field>
            <value>
                <elementReference>Comparacion_Tanques_Lead.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Aqui voy a comparar los valores para proceder a crear la oportunidad o el pedido.</description>
        <name>Comparacion_Tanques_Lead</name>
        <label>Comparacion Tanques Lead</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>yes_create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Capacidad__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Ca__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Precio_de_lista__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Precio_maximo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tipo_de_tanque__c</object>
        <sortField>Capacidad__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>crear_oportunidad</name>
        <label>crear oportunidad</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Precio_de_venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio_de_venta__c</field>
            <value>
                <elementReference>$Record.Precio_maximo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tanque_seleccionado__c</field>
            <value>
                <elementReference>Comparacion_Tanques_Lead.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comparacion_Tanques_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Precio_maximo__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Precio_minimo__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Ca__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
